extends layout

block content
    div(ng-view)

    script(type="text/ng-template", id="main.html")
        include main

    script(type="text/ng-template", id="report.html")
        include report

    script(type="text/ng-template", id="list.html")
        include list