!!!
html(ng-app="dod")
    head
        meta(charset="utf-8")
        title Detour or Die
        link(rel='stylesheet', href='css/libs/bootstrap.min.css')
        link(rel="stylesheet", href="css/libs/ratchet.css")
        block cssext
        script(src="js/libs/angular.min.js")
        script(src="js/libs/ratchet.js")
        script(src="js/libs/bootstrap.min.js")
        block jsext
    body
        block content