header.bar-title
    a.button-prev(ng-click="back2Map()") Back
    h1.title List

.content
    ul.list(ng-show="checkpoints.length > 0")
        li(ng-repeat="checkpoint in checkpoints", ng-click="pinOnMap(checkpoint)")
            include list_item