header.bar-title
    a.button(ng-click="refreshMap()") Refresh
    h1.title Checkpoints
    a.button News

.content
    .google-map(center="position.coords", zoom="zoomProperty", markers="markersProperty", latitude="clickedLatitudeProperty", longitude="clickedLongitudeProperty", mark-click="false", draggable="true", fit="false", events="eventsProperty", refresh="refreshProperty")
    a.button-main.button-block(ng-click="reportLoc()") Report Checkpoint