header.bar-title
    a.button-prev(ng-click="back2Map()") 返回
    h1.title 標出臨檢站
    a.button(ng-click="saveReport()") 回報

.content
    .google-map(center="position.coords", zoom="zoomProperty", markers="markersProperty", latitude="clickedLatitudeProperty", longitude="clickedLongitudeProperty", mark-click="true", draggable="true", fit="false", events="eventsProperty", refresh="refreshProperty")