header.bar-title
    a.button-prev(ng-click="back2Map()") Back
    h1.title Report
    a.button(ng-click="saveReport()") Save

.content
    .google-map(center="position.coords", zoom="zoomProperty", markers="markersProperty", latitude="clickedLatitudeProperty", longitude="clickedLongitudeProperty", mark-click="true", draggable="true", fit="false", events="eventsProperty", refresh="refreshProperty")