extends layout

block jsext
    script
        $(document).ready(function () {
            var is_touch_device = 'ontouchstart' in document.documentElement;
            if (!is_touch_device) {
                console.log("Not a touch device");
            } else {
                console.log("Is a touch device");
                // unleash the clicking power of touch device
                window.addEventListener('load', function() {
                    console.log('# loaded, applying FastClick');
                    new FastClick(document.body);
                }, false);
            }
        });

        // Additional JS functions here
        //- window.fbAsyncInit = function() {
        //-     FB.init({
        //-         appId      : '247255068642322', // App ID
        //-         channelUrl : '//safejj.com/channel.html', // Channel File
        //-         //- channelUrl : '//192.168.1.158/channel.html', // Channel File
        //-         status     : true, // check login status
        //-         cookie     : true, // enable cookies to allow the server to access the session
        //-         xfbml      : true  // parse XFBML
        //-     });

            // Additional init code here

            //- console.log('# facebook-jssdk initiated');
            //- angular.bootstrap(document, ['dod']);
        //- };

        //- // Load the SDK Asynchronously
        //- (function(d){
        //-     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        //-     if (d.getElementById(id)) {return;}
        //-     js = d.createElement('script'); js.id = id; js.async = true;
        //-     js.src = '//connect.facebook.net/zh_TW/all.js';
        //-     ref.parentNode.insertBefore(js, ref);

        //-     console.log('# facebook-jssdk loaded')
        //- }(document));

block content
    #fb-root
    div(ng-view)

    //- script(type="text/ng-template", id="main.html")
        //- include main

    //- script(type="text/ng-template", id="report.html")
    //-     include report

    //- script(type="text/ng-template", id="list.html")
    //-     include list