extends layout

block jsext
    script
        $(document).ready(function () {
            var is_touch_device = 'ontouchstart' in document.documentElement;
            if (!is_touch_device) {
                console.log("Not a touch device");
            } else {
                console.log("Is a touch device");
                // unleash the clicking power of touch device
                window.addEventListener('load', function() {
                    console.log('# loaded, applying FastClick');
                    new FastClick(document.body);
                }, false);
            }
        });

        // Additional JS functions here
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '247255068642322', // App ID
                //- channelUrl : '//safejj.com/channel.html', // Channel File
                channelUrl : '//localhost/channel.html', // Channel File
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
            });

            // Additional init code here
            console.log('# facebook-jssdk initiated');

            //- angular.bootstrap(document, ['dod']);
        };

        // Load the SDK Asynchronously
        (function(d){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = '//connect.facebook.net/zh_TW/all.js';
            ref.parentNode.insertBefore(js, ref);

            console.log('# facebook-jssdk loaded')
        }(document));

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42150610-1', 'safejj.com');
        ga('send', 'pageview');

block content
    #fb-root
    div(mobile-view)