!!!
html(ng-app="dod")
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
            meta(name="apple-mobile-web-app-capable", content="yes")
            meta(name="apple-mobile-web-app-status-bar-style", content="black")
            title 安全酒駕
            link(rel="stylesheet", href="css/libs/ratchet.css")
            link(rel="stylesheet", href="css/libs/mobile-nav.css")
            link(rel="stylesheet", href="css/libs/iosOverlay.css")
            link(rel="stylesheet", href="css/icons.css")
            link(rel="stylesheet", href="css/dod.css")
            block cssext
            script(src="js/libs/jquery-1.10.1.min.js")
            script(src="js/libs/angular.min.js")
            script(src="js/libs/ratchet.js")
            script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=geometry&language=zh_TW")
            script(src="js/libs/angular-google-maps.js")
            script(src="js/libs/mobile-nav.min.js")
            script(src="js/libs/moment.min.js")
            script(src="js/libs/spin.min.js")
            script(src="js/libs/zh-tw.js")
            script(src="js/libs/iosOverlay.js")
            script(src="js/libs/fastclick.js")
            script(src="http://asms.safejj.com/socket.io/socket.io.js")
            script(src="js/dod.js")
            script(src="js/dod-services.js")
            script(src="js/dod-directives.js")
        block jsext
    body
        block content