header.bar-title
    a.button-prev(ng-click="back2List()") 返回
    h1.title 臨檢站位置

.content
    .google-map(center="centerProperty", zoom="zoomProperty", markers="markersProperty", latitude="clickedLatitudeProperty", longitude="clickedLongitudeProperty", mark-click="false", draggable="false", fit="false", events="eventsProperty", refresh="refreshProperty")