header.bar-title
    a.button-prev(ng-click="back2Map()") 取消
    h1.title 標出臨檢站
    a.button(ng-click="saveReport()") 確定

.content
    .google-map(center="centerProperty", zoom="zoomProperty", markers="markersProperty", latitude="clickedLatitudeProperty", longitude="clickedLongitudeProperty", mark-click="true", draggable="true", fit="false", events="eventsProperty", refresh="refreshProperty")